@using Microsoft.AspNetCore.Identity
@using TuneOrBuy.Data.Models
@using TuneOrBuy.Services.Contracts
@using System.Security.Claims
@inject SignInManager<Buyer> SignInManager
@inject UserManager<Buyer> UserManager
@inject ICarServiceOwnerService CarServiceOwner;
@inject ISellerService SellerService;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var UserIsSeller = await SellerService
            .UserIsSeller(Guid.Parse((ReadOnlySpan<char>)User.FindFirstValue(ClaimTypes.NameIdentifier)));

        var UserIsCarServiceOwner = await CarServiceOwner
            .UserIsCarServiceOwner(Guid.Parse((ReadOnlySpan<char>)User.FindFirstValue(ClaimTypes.NameIdentifier)));

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Car" asp-action="MyCars">My Favourute Cars</a>
                <a class="dropdown-item" asp-controller="Part" asp-action="MyParts">My Favourute Parts</a>
            </div>
        </div>

        if (!UserIsSeller && !UserIsCarServiceOwner)
        {
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Become
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Seller" asp-action="Become">Become Seller</a>
                    <a class="dropdown-item" asp-controller="CarServiceOwner" asp-action="Become">Become Car Service Owner</a>
                </div>
            </div>
        }

        if (UserIsSeller)
        {
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    For Sell
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Seller" asp-action="CarsForSell">Cars for sell</a>
                    <a class="dropdown-item" asp-controller="Seller" asp-action="PartsForSell">Parts for sell</a>
                </div>
            </div>
        }
        else if (UserIsCarServiceOwner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="CarServiceOwner" asp-action="MyServices">My Car Services</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!.Substring(0, User.Identity.Name.IndexOf("@"))</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
